<h2>Blog Details</h2> 

<hr/>
<div *ngIf="blog">
  <div>
    <label><b>Title: </b></label> {{blog.title}}
  </div>
  <div>
    <label><b>Type: </b></label> {{blog.type}}
  </div>
  <div>
    <label><b>Detail: </b></label> {{blog.detail}}
  </div>  
  <div>
    <label><b>View: </b></label> {{blog.view}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Blog List</button><br>

<button (click)="updateBlog(blog.id)" class="btn btn-warning" style="margin-left: 10px">Update</button>